{% extends "header.html"%}
{% block conteudo %}  

<a href="{{url_for('index')}}" class="btn btn-danger"> <- </a>

      <form action="{{url_for('criar')}}" method="post" enctype="multipart/form-data">
        <fieldset>
          {{form.csrf_token()}}
          <div class="form-group">
            {{form.nome.label(class = "form-label")}}
            {{form.nome(class = "form-control")}}
          </div>
          <div class="form-group">
            {{form.categoria.label(class = "form-label")}}
            {{form.categoria(class = "form-control")}}
          </div>
          <div class="form-group">
            {{form.console.label(class = "form-label")}}
            {{form.console(class = "form-control")}}

            <figure class="img-thumbnail col-md-4">
              <img class="img-fluid" src="{{url_for('img', nome_arquivo='default.jpg')}}">
              <figcaption>

                <div class="form-group">
                  <input type="file" id="arquivo" name="arquivo" class="form-control" accept=".jpg">
                
                </div>
              </figcaption>
            
              </img>
          </figure>
          

          </div class = "form-group "> {{form.salvar(class = "btn btn-primary")}}</div>
          </div>



      

          <br>
        

        </fieldset>
      </form>

{%endblock%} 